name: Node.js CI test

on:
  push:
    tags:
      - "v*" # 推送版本标签时触发，例如 v1.0.0
    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]

jobs:
  build:
    name: Test,Build and Package
    runs-on: ubuntu-latest

    steps:
      # 1、检出代码
      - name: Checkout code
      - uses: actions/checkout@v4

      # 2、设置Node.js环境
      - name: Use Node.js 24.8.0
        uses: actions/setup-node@v4
        with:
          node-version: ”24.8.0“
          cache: 'npm'

      # 3、安装依赖
      - name: Install dependencies
      - run: npm ci

      # 4、执行构建
      - name: Build package
      - run: npm run build --if-present

      # 5、压缩文件
      - name: Create distribution archive
        run:
          mkdir -p release-artifact
          zip -r release-artifact/dist-${{ github.ref_name }}.zip dist/

      # 6、发布版本
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: distribution-package
          path: release-artifact/dist-*.zip

  release:
    name: Create Github Release
    runs-on: ubuntu-latest
    needs: build
    permission: write

    steps:
      # 1. 检出代码
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. 下载之前上传的压缩包
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: distribution-package

      # 3. 创建GitHub Release并上传资产
      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          # 自动生成发布说明，你也可以使用body_path指定自定义文件
          generate_release_notes: true
          files: | # 指定要上传的资产文件，支持通配符
            dist-*.zip
          draft: false # 直接发布，设为true可先创建草稿
          prerelease: false # 设为true则标记为预发布







